
body {
	@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic&subset=latin,cyrillic);
	font-family: 'Open Sans', sans-serif;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	background-color :grey;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	font-size: 13px;
	line-height: 20px;
	background-image: url('../pics/bg.png');
	color: #EEE;
}

.card {
	/*width: 288px;*/   
	padding: 3px 3px 1px;
	/*border-top: 1px solid #FFF;*/
	/*border-bottom: 1px solid #BBB;*/
	position: relative;
}
.card_header {
	color: #FFF;
	border-top:1px solid rgba(255,255,255,0.55); 
	border-radius: 5px  5px 0 0;
}

.list_block 
  .card_header 
{
  border-top:1px solid rgba(217,159,159,1); 
  -webkit-box-shadow:inset 2px 2px 20px 7px rgba(128,50,50,1);
  box-shadow:inset 2px 2px 20px 7px rgba(128,50,50,1);
}

.list_block  .card_link_active {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#803232+0,803232+100&0+0,1+100 */
background: -moz-linear-gradient(left,  rgba(128,50,50,0) 0%, rgba(128,50,50,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(128,50,50,0) 0%,rgba(128,50,50,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(128,50,50,0) 0%,rgba(128,50,50,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00803232', endColorstr='#803232',GradientType=1 ); /* IE6-9 */

}
.list_block .card_link_active:before {
	border-left: 12px solid rgba(128,50,50,1);
}

.list_block select,
.list_block input,
.list_block textarea,
.list_block .select_del {
	border-color: rgba(217,159,159,1);
}


.list_gear 
  .card_header
{
	border-top:1px solid rgba(168,190,204,1); 
	-webkit-box-shadow:inset 2px 2px 20px 7px rgba(95,136,162,1);
	box-shadow:inset 2px 2px 20px 7px rgba(95,136,162,1);
}
.list_gear  .card_link_active {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5f88a2+0,5f88a2+100&0+0,1+100 */
background: -moz-linear-gradient(left,  rgba(95,136,162,0) 0%, rgba(95,136,162,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(95,136,162,0) 0%,rgba(95,136,162,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(95,136,162,0) 0%,rgba(95,136,162,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005f88a2', endColorstr='#5f88a2',GradientType=1 ); /* IE6-9 */

}

.list_gear .card_link_active:before {
	border-left: 12px solid rgba(95,136,162,1);
}
.list_gear select,
.list_gear input,
.list_gear textarea,
.list_gear .select_del {
	border-color: rgba(168,190,204,1);
}
.list_gear small.actlink  { color: rgba(168,190,204,1); }




.list_unit 
  .card_header
{
	border-top:1px solid rgba(171,125,186,1); 
	-webkit-box-shadow:inset 2px 2px 20px 7px rgba(121,68,138,1);
	box-shadow:inset 2px 2px 20px 7px rgba(121,68,138,1);
}
.list_unit  .card_link_active {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5f88a2+0,5f88a2+100&0+0,1+100 */
background: -moz-linear-gradient(left,  rgba(121,68,138,0) 0%, rgba(121,68,138,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(121,68,138,0) 0%,rgba(121,68,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(121,68,138,0) 0%,rgba(121,68,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005f88a2', endColorstr='#5f88a2',GradientType=1 ); /* IE6-9 */

}

.list_unit .card_link_active:before {
	border-left: 12px solid rgba(121,68,138,1);
}
.list_unit select,
.list_unit input,
.list_unit textarea,
.list_unit .select_del {
	border-color: rgba(171,125,186,1);
}
.list_unit small.actlink  { color: rgba(171,125,186,1); }


.list_wargear
  .card_header 
{
	border-top:1px solid #c1ffb0; 
	-webkit-box-shadow:inset 2px 2px 20px 7px rgba(77,128,64,1);
	box-shadow:inset 2px 2px 20px 7px rgba(77,128,64,1);
}

.list_wargear select,
.list_wargear input,
.list_wargear textarea,
.list_wargear .select_del {
	border-color: #c1ffb0;
}
.list_wargear small.actlink  { color: #c1ffb0; }


.card_value {
	margin-left: 20px;
	margin-right: 20px;
}
.card_value:before {
	display: block;
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2.5px solid  rgb(97, 197, 255);
	background-color: rgba(15,18,18,1);
	top: 5px;
	left: -17px;
}

.list_block 
	.card_value:before 
{
	border: 2.5px solid  rgba(255,96,96,1);
	background-color: rgba(18,15,15,1);
}

.list_wargear 
	.card_value:before 
{
	border: 2.5px solid  rgba(130,255,96,1);
	background-color: rgba(15,18,15,1);
}

.list_unit 
	.card_value:before 
{
	border: 2.5px solid  rgba(156,20,200,1);
	background-color: rgba(15,2,02,1);
}



.card_h3 {
	font-size: 15px;
	font-weight: 600;
	line-height: 15px;
	margin: 0px 0px 5px;
	line-height: 16px;
}
.card_h4 {
	font-size: 13px;
	font-weight: 600;
	line-height: 13px;
	margin: 0px 0px 5px;
	line-height: 16px;

}
.card_header .card_h4 {
  padding-left: 20px;
  background-position: center left;
  background-repeat: no-repeat;
}

.list_gear .card_header .card_h4 {
  background-image: url('../pics/GearBlue.png');
}
.list_block .card_header .card_h4 {
  background-image: url('../pics/BlockRed.png');
}
.list_wargear .card_header .card_h4 {
  background-image: url('../pics/GreenBolt.png');
}
.list_unit .card_header .card_h4 {
  background-image: url('../pics/Purple.png');
}





.card_link {
	margin: 0px 20px 0px 20px;
	position: relative;
	font-weight: normal;
	font-style: italic;
	font-size: 12px;
	line-height: 18px;
	min-height: 22px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5f88a2+0,5f88a2+100&0+0,1+100 */
background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005f88a2', endColorstr='#5f88a2',GradientType=1 ); /* IE6-9 */


}
.card_link:before {    display: block;
    content: "";
    position: absolute;
    margin-top: 0px;
    width: 0px;
    height: 0px;
    border-bottom: 11px solid transparent;
    border-top: 11px solid transparent;
    margin-left: 0px;
    border-left: 12px solid rgba(0, 0, 0, 0.2);
    right: -12px;
}
.card_link_active:before {
	border-left: 12px solid rgba(95,136,162,1);
}


.actlink {
	/*color: rgb(17, 85, 204);*/
	cursor: pointer;
    font-style: italic;
	/*color: #A8BECC;*/
	/*color: #FFF;*/
	overflow: hidden;
	display: inline-block;
	max-width: 250px;
 	text-overflow: ellipsis;
 	text-decoration: underline;
 	font-weight: 700;
 }

.ml20px {
	margin-left: 20px !important;
}

.card_p {
	line-height: 1.6em;
	margin: 0px 0px 5px;
}
.card_p.small {
	font-size: 10px;
	line-height: 1.2em;
	margin-bottom: 5px;
}
.list {
	/*background-color: #EEE;*/
	width: 296px;
	margin: 5px;
	padding: 1px;
	position: absolute;
	border-radius: 7px;
	border: 1px solid rgba(0,0,0,0.75);
	background-color: rgba(50,50,50,0.75);
	/*height: 100%;*/
	/*position: absolute;*/
}

.card_td {
	padding-right: 5px;
	line-height: 1.6em;
}

.input100 {
	display: inline-block;
	width: 100%;
    box-sizing: border-box;
    padding-left: 3px;
}
.input_del {
	display: inline-block;
	width: 219px;
    box-sizing: border-box;
    padding-left: 3px;
}
.input66 {
	display: inline-block;
	width: 186px;
    box-sizing: border-box;
    padding-left: 3px;
}
.input75 {
	display: inline-block;
	width: 216px;
    box-sizing: border-box;
    padding-left: 3px;
}
.input33 {
	display: inline-block;
	width: 93px
    box-sizing: border-box;
    padding-left: 3px;
}
.input25 {
	display: inline-block;
	width: 72px
    box-sizing: border-box;
    padding-left: 3px;
}

input.input100,
input.input_del,
input.input75,
input.input66,
input.input33,
input.input25 {
	padding: 1px;

}
select.input100,
select.input_del,
select.input75,
select.input66,
select.input33,
select.input25 {
	padding: 1px;
    background-color: hsla(0,0%,30%,1);
}

.input66 + .input33 {
	margin-left: 6px;
	width: 90px
}
.input75 + .input25 {
	margin-left: 6px;
	width:60px
}

select , input, textarea, .select_del {

    background-color: inherit;
    color: inherit;
    border: 1px solid #EEE;

	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.select_del {
	width: 18px;
	height: 19px;
    display: inline;
    background-color: hsla(0,0%,30%,1);
    -webkit-box-shadow:inset 0 0 0 2px hsla(0,0%,30%,1);
    border: 1px solid #EEE;
    text-align: center;
    line-height: 18px;
    padding: 0px 5px 2px;
    	color: black;
    	font-weight: bold;
    	cursor: pointer;

}

@-moz-document url-prefix() {
    .select_del {
    	color:#222;
    background-color: #EEE;
	box-shadow:inset 0 0 0 2px hsla(0,0%,30%,1);
		padding: 0px 5px 1px;
    }
}
/*
.card + .card {
	background-color: #EDF;
}
.card + .card + .card {
	background-color: #EFD;
}
.card + .card + .card {
	background-color: #DEF;
}
.card + .card + .card + .card {
	background-color: #FED;
}
.card + .card + .card + .card {
	background-color: #DFE;
}
.card + .card + .card + .card + .card {
	background-color: #FDE;
}*/


.list + .list{
	/*left: 301px;*/
}


.corner {

    position: absolute;
    width: 12px;
    height: 12px;
    top: 17px;
    left: -1.66px;
    -webkit-transform: rotate(45deg) translateX(-8px);
    -moz-transform: rotate(45deg) translateX(-8px);
    -o-transform: rotate(45deg) translateX(-8px);
    -ms-transform: rotate(45deg) translateX(-8px);
    transform: rotate(45deg) translateX(-8px);
    /* background-color: rgba(255,0,0,1); */
    background-color: #EEE;

    border-bottom: 1px solid rgb(128, 128, 128);
    border-left: 1px solid rgb(128, 128, 128);
}


.pre {
  position: absolute;
  width: 500px;
  right: 0;
  top:0;    
  font-size: 11px;
  line-height: 12px;
  z-index: -10;
  color:grey;
}
.pre:hover {
	z-index: 10;
	background-color: rgba(50,50,50,0.75);
	color:#FFF;
}
.p20 {
	padding-left: 20px;
	padding-right: 20px;
}