<div class="card card_value">
  <h4 class="card_h4">
    Цена улучшния
  </h4>
  <p class="card_p">
    <input type="text" value=""  class="input100" ng-model="unit.optionsDefault[optKey].cost"/>
  </p>
</div>
<div class="card card_value">
  <h4 class="card_h4">
    Какую модель улучшаем
  </h4>
  <p class="card_p">
  <select class="input100"
    ng-options="value.modelName as value.visibleModelName for (key , value) in models "
    ng-model="unit.optionsDefault[optKey].upgaredForm">
  </select>
  </p>
</div>
<div class="card card_value">
  <h4 class="card_h4">
    До какой модели улучшаем 
  </h4>
  <p class="card_p">
  <select class="input100"
    ng-options="value.modelName as value.visibleModelName for (key , value) in models "
    ng-model="unit.optionsDefault[optKey].upgaredTo">
  </select>
  </p>
</div>

