<div class="list_wargear">

	<div class="card card_header">
	  <h3 class="card_h4">
	    Вариант замены
	  </h3>
	</div>
	<div class="card">
	  <p class="card_p">
	    <small class="actlink" ng-click="deleteOpt()">Удалить вариант</small>
	  </p>
	</div>

	<div class="card card_value">
    <h4 class="card_h4">
      Цена замены
    </h4>
    <p class="card_p">
      <input type="text" class="input100" ng-model="unit.optionsDefault[optKey].defaultSubOptions[subKey].cost">
    </p>
  </div>


  <div class="card card_value">
    <h4 class="card_h4">
      Новое снаряжение
    </h4>
    <p class="card_p">
      <select class="inpu100"
        ng-options="value.wargearName as value.visibleName for (okey,value) in wargears"
        ng-model="unit.optionsDefault[optKey].defaultSubOptions[subKey].changeTo">
      </select>
    </p>
  </div>

</div>