<div class="card card_value">
  <h4 class="card_h4">
    По одному из типа снаряжения
  </h4>
  <p class="card_p" ng-repeat="(wgKey, wg) in unit.optionsDefault[optKey].isWargearToChange[changeKey][conditionKey].types">
    <select class="input_del"
      ng-options="name as label for (name,label) in weaponstype"
      ng-model="unit.optionsDefault[optKey].isWargearToChange[changeKey][conditionKey].types[wgKey]">
    </select>
    <span class="select_del" ng-click="selectDel(wgKey)">X</span>
  </p>
  <p class="card_p">
    <small class="actlink" ng-click="selectAdd()">Добавить элемнт</small>
  </p>
</div>